.row
  .col-md-4.col-sm-6
    .card
      .card-heading
      .avatar.img-thumbnail
        %img.img-responsive{alt: "No User", src: "/assets/no-user.png"}
      .info
        %h3
          = link_to @user, [@user, @user.profile]
        .desc
          = fa_icon("calendar")
          Joined in
          = @user.created_at.strftime("%B %Y")
    
  .col-md-6
    #edit-profile
      = render "form", user: @user

  .col-md-2
    .panel-container
      .profile-data
        %h4 Followers
        %h3
          = @user.followers.count
        %h4 Following
        %h3
          = @user.leaders.count
        %h4 Posts
        %h3
          = @user.posts.count