.row
  .col-md-4.col-sm-6
    = render "profiles/settings", user: @user
    
  .col-md-6
    .panel-container
      %h2 Edit #{resource_name.to_s.humanize}
      #edit-account
        = render "form"

  .col-md-2
    .panel-container
      .profile-data
        %h4 Followers
        %h3
          = @user.followers.count
        %h4 Following
        %h3
          = @user.leaders.count
        %h4 Posts
        %h3
          = @user.posts.count