= link_to content_tag(:small, "POSTS #{user.posts.size}"), [user, :profile]

= link_to content_tag(:small, "FOLLOWING #{user.leaders.size}"), [:following, user]

= link_to content_tag(:small, "FOLLOWERS #{user.followers.size}"), [:followers, user]