.row
  .col-md-4.col-sm-6
    = render "profiles/settings", user: @attachable
    
  .col-md-6
    .panel-container
      %h2 Images
      - if @attachable == current_user
        #attachments-form
          = render "form", attachment: @attachment, attachable: @attachable
        .row
          .col-md-9
            #img-holder
      .row
        #user-attachments
          = render "attachment", collection: @attachments

  .col-md-2
    .panel-container
      .profile-data
        %h4 Followers
        %h3
          = @attachable.followers.count
        %h4 Following
        %h3
          = @attachable.leaders.count
        %h4 Posts
        %h3
          = @attachable.posts.count