.row
  .col-md-12
    = image_tag(@attachment.file.url, class: "img-responsive")
    %ul.attachment-actions
      %li
        = div_for(@attachment, :like) do
          = render "likes/like", likable: @attachment
      - if @attachment.attachable == current_user
        %li
          = div_for(@attachment, :default) do
            = render "attachments/default", attachment: @attachment