.panel-container
  = div_for(post, class: "post-content") do
    - if post.user.id == current_user.id
      .pull-right
        .btn-group
          %button.btn.btn-default.dropdown-toggle{"aria-expanded": "false", 
            "aria-haspopup": "true", "data-toggle": "dropdown", 
            type: "button", title: "Actions", id: "actions"}
            = fa_icon "chevron-down"
          %ul.dropdown-menu
            %li
              = link_to "Edit", [:edit, post], remote: true
            %li
              = link_to "Delete", post, method: :delete, remote: true
    .media-user
      .media
        .media-left.media-bottom
          = link_to image_tag("/assets/no-user.png",
            class: "media-object img-thumbnail", width: "50"), root_path
        .media-body
          %h5.media-heading 
            = post.user
          %small
            = time_ago_in_words post.created_at

    %p
      = post.body
    - if post.attachments.any?
      .row
        .post-attachments
          - post.attachments.each do |attachment|
            .col-md-4.col-xs-4
              = link_to image_tag(attachment.file.url(:thumb), class: "img-responsive"), "#", class: "thumbnail"